/* tablet */
@media (max-width: 1023px) and (min-width: 740px) {
    .navbar-item-link  {
        padding: 10px 0;
    }

    .container__discover {
        margin: 0 20px;
    }

    .container__discover-column + .container__discover-column {
        margin-left: 40px;
    }

    .container__row {
        margin: 80px 20px;
    }

    .footer {
        margin: 0 40px 60px;
    }    

    .footer__column + .footer__column {
        margin-left: 50px;
    }

}

/* mobile */
@media (max-width: 739px) {
    .header {
        padding: 23px 40px;
        
    }
    
    .header-content {
        left: 40px;
        right: 40px;
        
    }

    .menu {
        flex-direction: column;
        position: relative;
    }

    .logo {
        position: absolute;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 63px;
        left: -40px;
        background-color: rgb(239 243 255);
        width: 100%;
        z-index: 2;
    }

    .open {
        display: block;
    }

    .navbar-list {
        flex-direction: column;
    }

    .navbar-item {
        display: block;
        width: 100%;
        padding: 0;
        border-left: 1px solid var(--primary-color-hover);
        border-right: 1px solid var(--primary-color-hover);
    }

    .navbar-item + .navbar-item {
        border-top: 1px solid var(--primary-color-hover);
    }

    .navbar-item-link {
        display: block;
        text-align: center;
        padding: 15px;
    }

    .bg {
        overflow: hidden;
    }

    .container__header {
        margin: 80px 20px 0;
    }

    .content__title {
        display: none;
    }

    .content__text { 
        display: none;
    }

    .container__discover {
        flex-direction: column;
        margin: 40px;
    }

    .container__discover-column + .container__discover-column {
        margin-top: 40px;
    }

    .container__row {
        flex-direction: column;
        margin: 80px 40px;
    }

    .row__img {
        width: 100%;
        margin-right: 0;
    }

    .row__img--marginbottom {
        margin-bottom: 20px;
    }

    .row__img--margintop {
        margin-top: 20px;
    }

    .footer {
        flex-direction: column;
        margin-left: 40px;
        margin-right: 40px;
    }

    .footer__column + .footer__column {
        margin-left: 0;
        margin-top: 40px;
    }
}